{% extends 'base.html' %}
{% load pybo_filter %}
{% block content %}
<br>
<div class="row justify-content-center">
    <div class="col text-center">
        <h2>Available Model LIST</h2>
    </div>
</div>
<div class="container my-3">
    <table class="table">
      <thead>
        <tr class="thead-dark">
          <th>번호</th>
          <th>모델이름</th>
          <th>알고리즘명</th>
          <th>생성일시</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% if gen_model_list %}
          {% for gen_model in gen_model_list %}
            <tr>
              <td>
                <!-- 번호 = 전체건수 - 시작인덱스 - 현재인덱스 + 1 -->
                {{gen_model_list.paginator.count|sub:gen_model_list.start_index|sub:forloop.counter0|add:1}}
              </td>
              <td>{{ gen_model.model_name }}</td>
              <td>{{ gen_model.algorithm }}</td>
              <td>{{ gen_model.create_date }}</td>
              <td>
                <a class="btn btn-primary" href="{% url 'gan_dm:inference' gen_model.id %}">Data 생성</a>
              </td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td colspan="3">모델이 없습니다.</td>
          </tr>
        {% endif %}
      </tbody>
    </table>
    <!-- 페이징처리 시작 -->
    <ul class="pagination justify-content-center">
      <!-- 이전페이지 -->
      {% if gen_model_list.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ gen_model_list.previous_page_number }}">이전</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
      {% endif %}
      <!-- 페이지리스트 -->
      {% for page_number in gen_model_list.paginator.page_range %}
        {% if page_number >= gen_model_list.number|add:-5 and page_number <= gen_model_list.number|add:5 %}
          {% if page_number == gen_model_list.number %}
            <li class="page-item active" aria-current="page">
              <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
          {% else %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
          {% endif %}
        {% endif %}
      {% endfor %}
      <!-- 다음페이지 -->
      {% if gen_model_list.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ gen_model_list.next_page_number }}">다음</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
      {% endif %}
    </ul>
    <!-- 페이징처리 끝 -->
    <a href="{% url 'gan_dm:train' %}" class="btn btn-info">학습 Data 등록하기</a>
    <a href="{% url 'gan_dm:train' %}" class="btn btn-info">학습 Data List</a>
  </div>
{% endblock %}
